/*
 * CALENDAR
 */

table.cs_list_calendar {
 border-top: thin solid #004300;
 border-right: thin solid #004300;
 margin-bottom: 0.5em;
 width: 100%;
 border-collapse: collapse;
}

table.cs_list_calendar caption,
table.cs_list_calendar th,
table.cs_list_calendar td {
 color: #004300;
 background-color: #FFFFFF;
}

table.cs_list_calendar th,
table.cs_list_calendar td {
 color: #004300;
 background-color: #FFFFFF;
 border-left: thin solid #004300;
 border-bottom: thin solid #004300;
 border-collapse: collapse;
 padding-left: 0.3em;
 width: 14%;
 vertical-align: top;
 font-size: 8pt;
}

table.cs_list_calendar caption {
 margin-top: 0.5em;
 margin-bottom: 0.1em;
 font-size: 170%;
 font-weight: bold;
}

table.cs_list_calendar td {
 height: 50px;
}

table.cs_list_calendar div.cs_item {
 margin-top: 0em;
 margin-bottom: 0.5em;
}

table.cs_list_calendar div.cs_item span {
 display: block;
}

/* status: O = Open, F = Full, C = Cancelled */
table.cs_list_calendar div.cs_changed_Y,
table.cs_list_calendar div.cs_status_C {
 background-color: #FFCC66;
}


/*
 * LIST
 */

table.cs_list_list {
 border-style: none;
}

table.cs_list_list td.cs_month {
 color: #004300;
 background-color: #FFFFFF;
 border-style: solid none none none;
 border-top: thick solid #FFFFFF;
 font-size: 130%;
 font-weight: bold;
}

table.cs_list_list tr.cs_row_0 {
 background-color: #99CCCC;
}

table.cs_list_list tr.cs_row_1 {
 background-color: #99CC99;
}

/* status: O = Open, F = Full, C = Cancelled */
table.cs_list_list tr.cs_row_0.cs_changed_Y,
table.cs_list_list tr.cs_row_0.cs_status_C {
 background-color: #FFCC99;
}

table.cs_list_list tr.cs_row_1.cs_changed_Y,
table.cs_list_list tr.cs_row_1.cs_status_C {
 background-color: #FFCC00;
}

table.cs_list_list td {
 color: #004300;
 font-size: 85%;
 border-style: solid none none none;
 border-top: thin solid #FFFFFF;
 vertical-align: top;
 padding: 0.2em;
}

table.cs_list_list td.cs_summary {
 border-style: none;
 padding-left: 1em;
}

table.cs_list_list td.cs_day,
table.cs_list_list td.cs_time {
 white-space: nowrap;
}


/*
 * NAVIGATION AND LIMIT FORM
 */

div.cs_change_view,
div.cs_prior,
div.cs_next {
 font-size: 0.7em;
}

div.cs_nav {
 line-height: 0em;
}

div.cs_prior {
 text-align: left;
}

div.cs_next {
 text-align: right;
}

div.cs_change_view {
 text-align: center;
}

div.cs_limit_form {
 margin-top: 0.7em;
 border-style: solid;
 width: 100%;
 border: thin solid black;
 padding: 0.5em;
}
div.cs_limit_form {
 font-size: 0.7em;
}
div.cs_limit_form input,
div.cs_limit_form select,
div.cs_limit_form option {
 font-size: 1em;
}

p.cs_credit {
 margin-top: 2em;
 font-size: 9pt;
 text-align: center;
}
