# This file is only for systems using the Apache httpd web server.
#
# Set AuthUserFile to the location of the .htpasswd file.
#
# See include/CalendarSolution/doc/INSTALL.txt for more information.

AuthUserFile "/var/www/calendar/Admin/.htpasswd"


# The rest of this file should be left alone.

AuthType Basic
AuthName "Calendar Solution Administrator"
Require valid-user
