table.cs_list_quicktable,
table.cs_list_quicktable th,
table.cs_list_quicktable td {
 border: thin solid black;
 border-collapse: collapse;
}

table.cs_list_quicktable td {
 padding: 0.25em;
 vertical-align: top;
}

td.cs_day {
 white-space: nowrap;
}

/* N = normal, Y = changed, X = cancelled */
table.cs_list_quicktable tr.cs_Y0,
table.cs_list_quicktable tr.cs_Y1,
table.cs_list_quicktable tr.cs_X0,
table.cs_list_quicktable tr.cs_X1 {
 background-color: #FFCC66;
}

div.cs_limit_navigation {
 font-size: 0.7em;
 padding-top: 2em;
 line-height: 0em;
}

div.cs_prior {
 text-align: left;
}

div.cs_next {
 text-align: right;
}
