table.cs_list_title {
 border: none;
}

table.cs_list_title td.cs_day {
 text-align: right;
 vertical-align: top;
}

table.cs_list_title td.cs_title {
 padding-left: 0.5em;
}

div.cs_limit_navigation {
 font-size: 0.7em;
 padding: 1em 0 2em 0;
 line-height: 0;
}
div.cs_prior {
 text-align: left;
}
div.cs_next {
 text-align: right;
}
