table.cs_list_title {
 border: none;
}

table.cs_list_title td.cs_day {
 text-align: right;
 vertical-align: top;
}

table.cs_list_title td.cs_title {
 padding-left: 0.5em;
}

td.cs_limit_navigation {
 font-size: 0.7em;
 padding-top: 2em;
 line-height: 0em;
}

div.cs_prior {
 text-align: left;
}

div.cs_next {
 text-align: right;
}
